extends layout

block content
  #wrapper
    #center
      div(data-id=item.id)#content
        if belongsToUser
          form
            input(type="hidden", value=item.id)#id
            input(value=item.attributes.name)#name
            input(value=item.attributes.price)#price
            textarea#description #{item.attributes.description}
            input(type="submit", value="Update")#submit
        else
          h2 #{item.attributes.name}
          span $#{item.attributes.price} per day
          span #{email}
          p #{item.attributes.description}

          h3 Leave a review!
          textarea Tell the world what you think!
          a(href="#")#review Review!

          h3 Reviews of #{item.attributes.name}
          each review in reviews
            .review
              span #{review.createdAt}
              p #{review.attributes.content}


      #image
        if belongsToUser
          img(src=item.attributes.image.url())

          form
            input(type="file")#file
            input(type="submit", value="Upload")#upload

          if item.attributes.rented
            a(href="#")#check Check in
          else
            a(href="#")#check Check out
          a(href="#")#delete Delete
        else
          img(src=item.attributes.image.url())

  script(src="/js/item.js")


