extends layout

block content

  #sidebar-wrap
    #sidebar
      img(src=user.attributes.photo.url())
      h2 #{user.attributes.name}
      span.email #{user.attributes.email}

  #profile-listings
    each item in items
      .listing
        img(src=item.attributes.image.url())
        .details
          span.name
            a(href="/item?id=" + item.id) #{item.attributes.name}
          span.price $#{item.attributes.price}

